DATABASE_URL=postgres://postgres:postgres@localhost:5432/analytics

IP_HASH_SECRET=
BETTER_AUTH_SECRET=
CRON_SECRET=

API_URL=http://localhost:3100
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DASHBOARD_ORIGIN=
AUTH_COOKIE_DOMAIN=

MAXMIND_LICENSE_KEY=

MAIL_URL=
MAIL_FROM=
CRUX_API_KEY=
GITHUB_TOKEN=
INTERNAL_PROJECT_SECRET=
