{
  "info": {
    "title": "Analytics API",
    "description": "Development documentation",
    "version": "2.0.0-next"
  },
  "servers": [
    {
      "url": "https://api.analytics.remcostoeten.nl",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Ingest",
      "description": "Send events from browsers and servers"
    },
    {
      "name": "Sign-in",
      "description": "GitHub sign-in through Better Auth and the current session"
    },
    {
      "name": "Projects",
      "description": "Projects, their visibility and keys"
    },
    {
      "name": "Tokens",
      "description": "API tokens for scripts and CI"
    },
    {
      "name": "Reads",
      "description": "Aggregate reads for one project"
    },
    {
      "name": "Visitor-level reads",
      "description": "Events, visitors and sessions at the detail level"
    },
    {
      "name": "All projects",
      "description": "The same reads across every readable project"
    },
    {
      "name": "Speed",
      "description": "Core Web Vitals and the Real Experience Score"
    },
    {
      "name": "Issues",
      "description": "Error tracking, issues and error rules"
    },
    {
      "name": "SQL",
      "description": "The read-only SQL console and saved queries"
    },
    {
      "name": "Jobs",
      "description": "Scheduled jobs and operations metrics"
    },
    {
      "name": "System",
      "description": "Health and documentation"
    }
  ],
  "openapi": "3.1.2",
  "paths": {
    "/v2/health": {
      "get": {
        "summary": "Liveness, version and cold start details",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "version",
                    "time",
                    "runtime",
                    "coldStart",
                    "bootedAt",
                    "ipHeader",
                    "geo"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "version": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "time": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "runtime": {
                      "type": "string"
                    },
                    "coldStart": {
                      "type": "boolean"
                    },
                    "bootedAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "ipHeader": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "geo": {
                      "type": "object",
                      "required": [
                        "city",
                        "asn",
                        "loadMs"
                      ],
                      "properties": {
                        "city": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "asn": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "loadMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV2Health"
      }
    },
    "/v2/events": {
      "post": {
        "summary": "Send a batch of events",
        "description": "The body is an ingest envelope, sent as text/plain so browsers skip the preflight, or as application/json from a server. Each event in `events` is a WireEvent and is checked on its own: a bad event is reported by index in `rejected` while the rest are stored.",
        "tags": [
          "Ingest"
        ],
        "requestBody": {
          "description": "Each event is a WireEvent, checked on its own and rejected by index.",
          "content": {
            "text/plain": {
              "schema": {
                "description": "Each event is a WireEvent, checked on its own and rejected by index.",
                "type": "object",
                "required": [
                  "v",
                  "sentAt",
                  "events"
                ],
                "properties": {
                  "v": {
                    "const": 1,
                    "type": "number"
                  },
                  "sentAt": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "events": {
                    "minItems": 1,
                    "type": "array",
                    "items": {}
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Response for status 202",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accepted",
                    "duplicates",
                    "rejected"
                  ],
                  "properties": {
                    "accepted": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "duplicates": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "rejected": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "code",
                          "message"
                        ],
                        "properties": {
                          "index": {
                            "minimum": 0,
                            "type": "integer"
                          },
                          "code": {
                            "type": "string",
                            "enum": [
                              "VALIDATION_FAILED",
                              "UNAUTHORIZED",
                              "AUTH_REQUIRED",
                              "FORBIDDEN_ORIGIN",
                              "ORIGIN_NOT_ALLOWED",
                              "FORBIDDEN",
                              "WIDGET_REPORTS_DISABLED",
                              "NOT_FOUND",
                              "CONFLICT",
                              "PAYLOAD_TOO_LARGE",
                              "RATE_LIMITED",
                              "INTERNAL",
                              "UNAVAILABLE"
                            ]
                          },
                          "message": {
                            "minLength": 1,
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Response for status 413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Response for status 429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "postV2Events"
      },
      "get": {
        "summary": "Raw events across projects",
        "description": "Projects whose visitor-level data you may see.",
        "tags": [
          "All projects"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "format": "date-time",
              "description": "Start of the range; send with `to`.",
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "format": "date-time",
              "description": "End of the range, exclusive.",
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "12mo",
                "all"
              ]
            }
          },
          {
            "name": "traffic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "human",
                "bots",
                "internal",
                "all"
              ]
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "preview",
                "all"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sent as `filter[<dimension>]=value`, or `!value` to exclude; repeatable across dimensions.",
              "type": "object",
              "patternProperties": {
                "^(.*)$": {
                  "type": "string"
                }
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "minLength": 1,
              "description": "Keep one event name.",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "description": "Rows per page, 1 to 100 (default 20), or up to 1000 with `format`.",
              "anyOf": [
                {
                  "format": "integer",
                  "default": 0,
                  "type": "string"
                },
                {
                  "minimum": 1,
                  "maximum": 1000,
                  "description": "Rows per page, 1 to 100 (default 20), or up to 1000 with `format`.",
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "minLength": 1,
              "description": "The opaque `nextCursor` of the previous page.",
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "sql"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "data",
                        "nextCursor"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "name",
                              "ts",
                              "visitor",
                              "session",
                              "page",
                              "props",
                              "groups",
                              "geo",
                              "device",
                              "bot",
                              "isInternal"
                            ],
                            "properties": {
                              "id": {
                                "minLength": 1,
                                "maxLength": 128,
                                "type": "string"
                              },
                              "name": {
                                "minLength": 1,
                                "maxLength": 64,
                                "type": "string"
                              },
                              "ts": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "visitor": {
                                "minLength": 1,
                                "maxLength": 128,
                                "type": "string"
                              },
                              "session": {
                                "minLength": 1,
                                "maxLength": 128,
                                "type": "string"
                              },
                              "page": {
                                "type": "object",
                                "required": [
                                  "path",
                                  "route",
                                  "title",
                                  "referrer"
                                ],
                                "properties": {
                                  "path": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "route": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "title": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "referrer": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              "props": {
                                "type": "object",
                                "patternProperties": {
                                  "^(.*)$": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "boolean"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                }
                              },
                              "groups": {
                                "maxProperties": 5,
                                "additionalProperties": false,
                                "type": "object",
                                "patternProperties": {
                                  "^[a-z][a-z0-9_]{0,31}$": {
                                    "minLength": 1,
                                    "maxLength": 128,
                                    "type": "string"
                                  }
                                }
                              },
                              "geo": {
                                "type": "object",
                                "required": [
                                  "country",
                                  "region",
                                  "city",
                                  "postalCode",
                                  "timezone",
                                  "latitude",
                                  "longitude"
                                ],
                                "properties": {
                                  "country": {
                                    "minLength": 2,
                                    "maxLength": 2,
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "region": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "city": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "postalCode": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "timezone": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "latitude": {
                                    "minimum": -90,
                                    "maximum": 90,
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  },
                                  "longitude": {
                                    "minimum": -180,
                                    "maximum": 180,
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              "device": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "browser",
                                  "browserVersion",
                                  "os",
                                  "osVersion",
                                  "screen",
                                  "viewport",
                                  "language",
                                  "connection"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "desktop",
                                      "mobile",
                                      "tablet",
                                      "bot",
                                      "unknown"
                                    ]
                                  },
                                  "browser": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "browserVersion": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "os": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "osVersion": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "screen": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "viewport": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "language": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "connection": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                }
                              },
                              "bot": {
                                "type": "object",
                                "required": [
                                  "score",
                                  "reasons"
                                ],
                                "properties": {
                                  "score": {
                                    "minimum": 0,
                                    "maximum": 100,
                                    "type": "integer"
                                  },
                                  "reasons": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "ua_crawler",
                                        "ua_automation",
                                        "edge_verified_bot",
                                        "asn_datacenter",
                                        "headers_inconsistent",
                                        "headers_missing",
                                        "client_webdriver",
                                        "client_headless",
                                        "client_no_input",
                                        "session_velocity",
                                        "ip_fanout"
                                      ]
                                    }
                                  }
                                }
                              },
                              "isInternal": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    {
                      "description": "text/csv, application/json or application/sql download"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Response for status 429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "getV2Events"
      }
    },
    "/v2/auth/session": {
      "get": {
        "summary": "Current session",
        "description": "Who is signed in, their role, and whether they may change settings.",
        "tags": [
          "Sign-in"
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "user",
                    "session",
                    "role",
                    "isAdmin"
                  ],
                  "properties": {
                    "user": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "required": [
                        "id",
                        "login",
                        "name",
                        "avatarUrl"
                      ],
                      "properties": {
                        "id": {
                          "minLength": 1,
                          "maxLength": 128,
                          "type": "string"
                        },
                        "login": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "avatarUrl": {
                          "format": "uri",
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "session": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "required": [
                        "expiresAt"
                      ],
                      "properties": {
                        "expiresAt": {
                          "format": "date-time",
                          "type": "string"
                        }
                      }
                    },
                    "role": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "owner",
                        "admin",
                        "analyst",
                        "viewer"
                      ]
                    },
                    "isAdmin": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "getV2AuthSession"
      }
    },
    "/v2/projects": {
      "get": {
        "summary": "List projects",
        "description": "Public projects for anyone, plus private ones the caller's role or token lists. Organization admins see every project with its settings and may filter with `visibility`.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "required": [
                              "id",
                              "name",
                              "domain",
                              "visibility",
                              "publicVisitorData",
                              "sqlEnabled",
                              "widgetReports",
                              "allowedOrigins",
                              "retentionDays",
                              "publicKey",
                              "createdAt",
                              "updatedAt"
                            ],
                            "properties": {
                              "id": {
                                "minLength": 1,
                                "maxLength": 64,
                                "pattern": "^[a-z0-9][a-z0-9.-]*$",
                                "type": "string"
                              },
                              "name": {
                                "minLength": 1,
                                "maxLength": 128,
                                "type": "string"
                              },
                              "domain": {
                                "minLength": 1,
                                "maxLength": 253,
                                "type": "string"
                              },
                              "visibility": {
                                "type": "string",
                                "enum": [
                                  "public",
                                  "private"
                                ]
                              },
                              "publicVisitorData": {
                                "type": "boolean"
                              },
                              "sqlEnabled": {
                                "type": "boolean"
                              },
                              "widgetReports": {
                                "type": "boolean"
                              },
                              "allowedOrigins": {
                                "type": "array",
                                "items": {
                                  "format": "uri",
                                  "type": "string"
                                }
                              },
                              "retentionDays": {
                                "minimum": 1,
                                "maximum": 3650,
                                "type": "integer"
                              },
                              "publicKey": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "createdAt": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "updatedAt": {
                                "format": "date-time",
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "id",
                              "name",
                              "domain",
                              "visibility",
                              "createdAt"
                            ],
                            "properties": {
                              "id": {
                                "minLength": 1,
                                "maxLength": 64,
                                "pattern": "^[a-z0-9][a-z0-9.-]*$",
                                "type": "string"
                              },
                              "name": {
                                "minLength": 1,
                                "maxLength": 128,
                                "type": "string"
                              },
                              "domain": {
                                "minLength": 1,
                                "maxLength": 253,
                                "type": "string"
                              },
                              "visibility": {
                                "type": "string",
                                "enum": [
                                  "public",
                                  "private"
                                ]
                              },
                              "createdAt": {
                                "format": "date-time",
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "getV2Projects"
      },
      "post": {
        "summary": "Create a project",
        "description": "The secret key is in this response only; the API stores its hash.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "domain"
                ],
                "properties": {
                  "id": {
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9][a-z0-9.-]*$",
                    "type": "string"
                  },
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "publicVisitorData": {
                    "type": "boolean"
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "retentionDays": {
                    "minimum": 1,
                    "maximum": 3650,
                    "type": "integer"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "domain"
                ],
                "properties": {
                  "id": {
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9][a-z0-9.-]*$",
                    "type": "string"
                  },
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "publicVisitorData": {
                    "type": "boolean"
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "retentionDays": {
                    "minimum": 1,
                    "maximum": 3650,
                    "type": "integer"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "domain"
                ],
                "properties": {
                  "id": {
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9][a-z0-9.-]*$",
                    "type": "string"
                  },
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "publicVisitorData": {
                    "type": "boolean"
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "retentionDays": {
                    "minimum": 1,
                    "maximum": 3650,
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "name",
                            "domain",
                            "visibility",
                            "publicVisitorData",
                            "sqlEnabled",
                            "widgetReports",
                            "allowedOrigins",
                            "retentionDays",
                            "publicKey",
                            "createdAt",
                            "updatedAt"
                          ],
                          "properties": {
                            "id": {
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9.-]*$",
                              "type": "string"
                            },
                            "name": {
                              "minLength": 1,
                              "maxLength": 128,
                              "type": "string"
                            },
                            "domain": {
                              "minLength": 1,
                              "maxLength": 253,
                              "type": "string"
                            },
                            "visibility": {
                              "anyOf": [
                                {
                                  "const": "public",
                                  "type": "string"
                                },
                                {
                                  "const": "private",
                                  "type": "string"
                                }
                              ]
                            },
                            "publicVisitorData": {
                              "type": "boolean"
                            },
                            "sqlEnabled": {
                              "type": "boolean"
                            },
                            "widgetReports": {
                              "type": "boolean"
                            },
                            "allowedOrigins": {
                              "type": "array",
                              "items": {
                                "format": "uri",
                                "type": "string"
                              }
                            },
                            "retentionDays": {
                              "minimum": 1,
                              "maximum": 3650,
                              "type": "integer"
                            },
                            "publicKey": {
                              "minLength": 1,
                              "type": "string"
                            },
                            "createdAt": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "updatedAt": {
                              "format": "date-time",
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "secretKey"
                          ],
                          "properties": {
                            "secretKey": {
                              "minLength": 1,
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "postV2Projects"
      }
    },
    "/v2/projects/{project}": {
      "get": {
        "summary": "Get a project",
        "description": "Settings are included for the project's admins.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "name",
                            "domain",
                            "visibility",
                            "publicVisitorData",
                            "sqlEnabled",
                            "widgetReports",
                            "allowedOrigins",
                            "retentionDays",
                            "publicKey",
                            "createdAt",
                            "updatedAt"
                          ],
                          "properties": {
                            "id": {
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9.-]*$",
                              "type": "string"
                            },
                            "name": {
                              "minLength": 1,
                              "maxLength": 128,
                              "type": "string"
                            },
                            "domain": {
                              "minLength": 1,
                              "maxLength": 253,
                              "type": "string"
                            },
                            "visibility": {
                              "type": "string",
                              "enum": [
                                "public",
                                "private"
                              ]
                            },
                            "publicVisitorData": {
                              "type": "boolean"
                            },
                            "sqlEnabled": {
                              "type": "boolean"
                            },
                            "widgetReports": {
                              "type": "boolean"
                            },
                            "allowedOrigins": {
                              "type": "array",
                              "items": {
                                "format": "uri",
                                "type": "string"
                              }
                            },
                            "retentionDays": {
                              "minimum": 1,
                              "maximum": 3650,
                              "type": "integer"
                            },
                            "publicKey": {
                              "minLength": 1,
                              "type": "string"
                            },
                            "createdAt": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "updatedAt": {
                              "format": "date-time",
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "name",
                            "domain",
                            "visibility",
                            "createdAt"
                          ],
                          "properties": {
                            "id": {
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9.-]*$",
                              "type": "string"
                            },
                            "name": {
                              "minLength": 1,
                              "maxLength": 128,
                              "type": "string"
                            },
                            "domain": {
                              "minLength": 1,
                              "maxLength": 253,
                              "type": "string"
                            },
                            "visibility": {
                              "type": "string",
                              "enum": [
                                "public",
                                "private"
                              ]
                            },
                            "createdAt": {
                              "format": "date-time",
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "getV2ProjectsByProject"
      },
      "patch": {
        "summary": "Change project settings",
        "description": "Name, visibility, `publicVisitorData`, `sqlEnabled`, `widgetReports`, allowed origins and retention.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "minProperties": 1,
                "type": "object",
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "publicVisitorData": {
                    "type": "boolean"
                  },
                  "sqlEnabled": {
                    "type": "boolean"
                  },
                  "widgetReports": {
                    "type": "boolean"
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "retentionDays": {
                    "minimum": 1,
                    "maximum": 3650,
                    "type": "integer"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "minProperties": 1,
                "type": "object",
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "publicVisitorData": {
                    "type": "boolean"
                  },
                  "sqlEnabled": {
                    "type": "boolean"
                  },
                  "widgetReports": {
                    "type": "boolean"
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "retentionDays": {
                    "minimum": 1,
                    "maximum": 3650,
                    "type": "integer"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "minProperties": 1,
                "type": "object",
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ]
                  },
                  "publicVisitorData": {
                    "type": "boolean"
                  },
                  "sqlEnabled": {
                    "type": "boolean"
                  },
                  "widgetReports": {
                    "type": "boolean"
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "retentionDays": {
                    "minimum": 1,
                    "maximum": 3650,
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "updatedAt"
                          ],
                          "properties": {
                            "id": {
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9.-]*$",
                              "type": "string"
                            },
                            "updatedAt": {
                              "format": "date-time",
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "minLength": 1,
                              "maxLength": 128,
                              "type": "string"
                            },
                            "visibility": {
                              "anyOf": [
                                {
                                  "const": "public",
                                  "type": "string"
                                },
                                {
                                  "const": "private",
                                  "type": "string"
                                }
                              ]
                            },
                            "publicVisitorData": {
                              "type": "boolean"
                            },
                            "sqlEnabled": {
                              "type": "boolean"
                            },
                            "widgetReports": {
                              "type": "boolean"
                            },
                            "allowedOrigins": {
                              "type": "array",
                              "items": {
                                "format": "uri",
                                "type": "string"
                              }
                            },
                            "retentionDays": {
                              "minimum": 1,
                              "maximum": 3650,
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "patchV2ProjectsByProject"
      }
    },
    "/v2/projects/{project}/keys": {
      "post": {
        "summary": "Rotate a key",
        "description": "Replaces the public or the secret key. A new secret key is returned once and the old one stops working.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "public",
                      "secret"
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "public",
                      "secret"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "public",
                      "secret"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "kind",
                        "key",
                        "rotatedAt"
                      ],
                      "properties": {
                        "kind": {
                          "type": "string",
                          "enum": [
                            "public",
                            "secret"
                          ]
                        },
                        "key": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "rotatedAt": {
                          "format": "date-time",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "postV2ProjectsByProjectKeys"
      }
    },
    "/v2/tokens": {
      "get": {
        "summary": "List API tokens",
        "description": "Token values are never returned.",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "nextCursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "scope",
                          "projectIds",
                          "lastUsedAt",
                          "expiresAt",
                          "createdAt"
                        ],
                        "properties": {
                          "id": {
                            "minLength": 1,
                            "maxLength": 128,
                            "type": "string"
                          },
                          "name": {
                            "minLength": 1,
                            "maxLength": 128,
                            "type": "string"
                          },
                          "scope": {
                            "type": "string",
                            "enum": [
                              "read",
                              "sql",
                              "admin"
                            ]
                          },
                          "projectIds": {
                            "minItems": 1,
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "minLength": 1,
                              "maxLength": 128,
                              "type": "string"
                            }
                          },
                          "lastUsedAt": {
                            "format": "date-time",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "expiresAt": {
                            "format": "date-time",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "format": "date-time",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "getV2Tokens"
      },
      "post": {
        "summary": "Create an API token",
        "description": "Scope `read`, `sql` or `admin`, limited to `projectIds` or all projects when null. The token is in this response only.",
        "tags": [
          "Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "scope"
                ],
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "read",
                      "sql",
                      "admin"
                    ]
                  },
                  "projectIds": {
                    "minItems": 1,
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "minLength": 1,
                      "maxLength": 128,
                      "type": "string"
                    }
                  },
                  "expiresAt": {
                    "format": "date-time",
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "scope"
                ],
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "read",
                      "sql",
                      "admin"
                    ]
                  },
                  "projectIds": {
                    "minItems": 1,
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "minLength": 1,
                      "maxLength": 128,
                      "type": "string"
                    }
                  },
                  "expiresAt": {
                    "format": "date-time",
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "scope"
                ],
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 128,
                    "type": "string"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "read",
                      "sql",
                      "admin"
                    ]
                  },
                  "projectIds": {
                    "minItems": 1,
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "minLength": 1,
                      "maxLength": 128,
                      "type": "string"
                    }
                  },
                  "expiresAt": {
                    "format": "date-time",
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "scope",
                        "projectIds",
                        "token",
                        "expiresAt",
                        "createdAt"
                      ],
                      "properties": {
                        "id": {
                          "minLength": 1,
                          "maxLength": 128,
                          "type": "string"
                        },
                        "name": {
                          "minLength": 1,
                          "maxLength": 128,
                          "type": "string"
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "read",
                            "sql",
                            "admin"
                          ]
                        },
                        "projectIds": {
                          "minItems": 1,
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "minLength": 1,
                            "maxLength": 128,
                            "type": "string"
                          }
                        },
                        "token": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "expiresAt": {
                          "format": "date-time",
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "createdAt": {
                          "format": "date-time",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "postV2Tokens"
      }
    },
    "/v2/tokens/{token}": {
      "delete": {
        "summary": "Revoke an API token",
        "description": "It stops working at once.",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Response for status 204",
            "content": {
              "type": "void"
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Response for status 503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "operationId": "deleteV2TokensByToken"
      }
    },
    "/v2/projects/{project}/stats": {
      "get": {
        "summary": "Headline numbers",
        "description": "Visitors, sessions, pageviews, pages per session, bounce rate and session duration, each with the previous period.",
        "tags": [
          "Reads"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "format": "date-time",
              "description": "Start of the range; send with `to`.",
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "format": "date-time",
              "description": "End of the range, exclusive.",
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "12mo",
                "all"
              ]
            }
          },
          {
            "name": "traffic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "human",
                "bots",
                "internal",
                "all"
              ]
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "preview",
                "all"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sent as `filter[<dimension>]=value`, or `!value` to exclude; repeatable across dimensions.",
              "type": "object",
              "patternProperties": {
                "^(.*)$": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "previousRange",
                    "range",
                    "traffic",
                    "environment",
                    "filters"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "visitors",
                        "sessions",
                        "pageviews",
                        "pagesPerSession",
                        "bounceRate",
                        "sessionDurationMs"
                      ],
                      "properties": {
                        "visitors": {
                          "type": "object",
                          "required": [
                            "value",
                            "previous",
                            "change"
                          ],
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "previous": {
                              "type": "number"
                            },
                            "change": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        "sessions": {
                          "type": "object",
                          "required": [
                            "value",
                            "previous",
                            "change"
                          ],
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "previous": {
                              "type": "number"
                            },
                            "change": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        "pageviews": {
                          "type": "object",
                          "required": [
                            "value",
                            "previous",
                            "change"
                          ],
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "previous": {
                              "type": "number"
                            },
                            "change": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        "pagesPerSession": {
                          "type": "object",
                          "required": [
                            "value",
                            "previous",
                            "change"
                          ],
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "previous": {
                              "type": "number"
                            },
                            "change": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        },
                        "bounceRate": {
                          "type": "object",
                          "required": [
                            "value",
                            "previous",
                            "change"
                          ],
                          "properties": {
                            "value": {
[...]
